*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 200px;
    background-color: gray;
}
.inline-body{
    display: flex;
    justify-content: space-between;
    height: 600px;
    
    margin-top: 10px;
}
.body-left{
    width: 70%;
    margin-right: 10px;
    background-color: gray;
}
.body-right{
    width: 30%;
    background-color: gray;
}
.footer{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-color: gray;
}