*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 15%;
}
.logo a{
    text-decoration: none;
}
li a:hover{
    color: red;
    transition: 1s;
}
nav{
    display: flex;
    list-style: none;
}
li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
}
.searcher{
    display: flex;
}
.search{
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
input[type="search"]{
    padding: 10px;
}

.ES{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ES p{
    color: rgb(210, 182, 19);
}
.ES i{
    margin-right: 10px;
}
.icon-shop i{
    font-size: 20px;
    margin-left: 20px;
}
.icon-shop i:hover{
    color: red;
    cursor: pointer;
    transition: 1s;
}
.title, .sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#e7bcbc, #1db961);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.explore{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.shopping{
    background:linear-gradient(to right,#e7bcbc, #1db961);
    color: white;
    padding: 10px 10px;
    width: 20%;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping i{
    background-color: white;
    color: rgb(65, 6, 242);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.line-btn{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    gap: 1rem;
}
.btn{
    border: none;
    height: 40px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #1db961;
    color: white;
    transition:  3s ease;
    cursor: pointer;
}
.btn-list:hover>:not(:hover){
    opacity: 0.5;
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 3s;
}
.banner-card{
    height: 55vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    padding: 0 50px;
}
.card-pro{
    width: 300px;
    height: 450px;
    background-color: rgb(168, 208, 228);
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}
.card-pro h3{
    margin-top: 10px;
}
.card-pro i{
    margin: 10px 0;
}
.card-pro img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail button{
    width: 70%;
    height: 35px;
    border-radius: 10px;
}
.detail button:hover{
    cursor: pointer;
    background-color:#1db961;
    transition: 3s ease-in-out;
    color: white;
    border: none;
}
.detail i{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 35px;
    width: 15%;
    padding: 10px 0;
    margin-left: 10px;
}
.main{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.title1{
    background: -webkit-linear-gradient(#e7bcbc, #1db961);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title2{
    text-align: center;
    margin: 10px 0;
}
.box-inline{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 180px;
    width: 300px;
    border: 1px solid black;
    padding: 20px 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.box i{
    font-size: 30px;
    color: #edb593;
}
.box h2{
    margin:20px 0;
}
.content{
    height: 400px;
    width: 92%;
    margin: 0px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
.left-content img{
    display: block;
    height: 100%;
    border-radius: 20px;
}
.right-content{
    align-items: center;
    display: flex;
    color: black;
}

footer{
    background-color: rgb(50, 49, 49);
    padding: 0 100px;
    height: 300px;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ruler{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}
.left{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    line-height: 2em;
}
li a{
    text-decoration: none;
    color: white;
}
.right-footer{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 50%;
}
.right-footer img{
    height: 100%;
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: center;
    }
    .logo{
        text-decoration: none;
        font-size: 10px;
    }
    li a{
        font-size: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .search{
        width: 80%;
    }
    .icon-shop{
        display: flex;
    }
    .explore{
        height: 60px;
        width: 100%;
    }
    .shopping{
        width: 30%;
        padding: 10px 5px;
    }
    .line-btn ,.main,.banner-card{
        padding: 0 10px;
    }
    .card-pro{
        height: 350px;
        width: 250px;
        text-align: center;
    }
    footer{
        display: ;
    }
}
@media (max-width: 576px){
    header{
        display: flex;
        justify-content: center;
    }
    .logo{
        text-decoration: none;
        font-size: 10px;
    }
    li a{
        font-size: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .search{
        width: 80%;
    }
    .icon-shop{
        display: flex;
    }
    .main{
        margin-top: -100px;
    }
    .explore{
        height: 60px;
        width: 100%;
    }
    .shopping{
        width: 30%;
        padding: 10px 5px;
    }
    .line-btn ,.main,.banner-card{
        padding: 0 10px;
    }
    .card-pro{
        height: 350px;
        width: 250px;
        text-align: center;
    }
}