*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 15%;
}
.logo a{
    text-decoration: none;
}
li a:hover{
    color: red;
    transition: 1s;
}
nav{
    display: flex;
    list-style: none;
}
li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
}
.searcher{
    display: flex;
}
.search{
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
input[type="search"]{
    padding: 10px;
}

.ES{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ES p{
    color: rgb(210, 182, 19);
}
.ES i{
    margin-right: 10px;
}
.icon-shop i{
    font-size: 20px;
    margin-left: 20px;
}
.icon-shop i:hover{
    color: red;
    cursor: pointer;
    transition: 1s;
}
/* swiper */
.swiper{
    background-color: rgb(191, 242, 242);
    height: 40vh;
    width: 95%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
}
.swiper-left{
    width: 50%;
    padding: 50px 20px;
}
.txt-inline{
    display: flex;
    align-items: center;
}
.price{
    font-size: 50px;
    margin-left: 5px;
    color: rgb(210, 182, 19);
}
.discount{
    color: gray;
    font-weight: 1000;
}
.swiper-right{
    width: 100%;
    border-radius: 20px;
}
.flex-block{
    display: flex;
}
.block{
    overflow: hidden;
    overflow-y: hidden;
    width: 35%;
    height: 100%;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}
.caseras{
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: hidden;
}
.main{
    height: 150vh;
    display: flex;
    margin-top: 50px;
}
/* left side of body */
.left-bar{
    width: 28%;
    height: 100%;
}
.left-bar-up{
    width: 80%;
    border: 1px solid gray;
    height: 30%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.left-bar-up h1{
    margin: 10px 10px;
}
.menu{
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    text-decoration: none;
    color: gray;
    font-weight: 1000;
}
.menu i{
    color: gray;
    font-weight: 1000;
}
.left-bar-down{
    width: 100%;
    height: 56%;
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px solid gray;
}
.pro{
    display: flex;
    margin-top: 20px;
}
.pro-pic{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.pro-pic img{
    width: 40%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.pro-price{
    padding: 10px;
}
.daily-pro{
    font-size: 10px;
    color: gray;
    margin-bottom: 10px;
}
.right{
    width: 70%;
    height: 100%;
}
.search-pro{
    padding: 0 20px;
    margin-bottom: 20px;
}
#search{
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
}
.search-pro button{
    height: 40px;
    width: 10%;
    background-color: rgb(100, 100, 184);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 15px;
}
.search-pro button:hover{
    cursor: pointer;
    background-color: rgb(100, 100, 255);
    transition: 1s;
}
.categorias-icon{
    height: 100px;
    display: flex;
    gap: 2.5rem;
    margin: 20px 0;
    width: 75.5%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0.25);
}
.box-icon{
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    font-size: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(158, 235, 235);
    transition:  2s ease;
}
.categorias-icon:hover >:not(.box-icon:hover){
    opacity: 0.5;
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.banner-card{
    height: 52vh;
    display: flex;
    padding: 20px 10px;
}
.card-pro{
    width: 300px;
    height: 400px;
    background-color: rgb(115, 197, 220);
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}
.card-pro h3{
    margin-top: 10px;
}
.card-pro i{
    margin: 10px 0;
}
.card-pro img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail button{
    width: 70%;
    height: 35px;
    border-radius: 10px;
}
.detail button:hover{
    cursor: pointer;
    background-color: rgb(97, 243, 194);
    transition: 1s;
}
.detail i{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 35px;
    width: 15%;
    padding: 10px 0;
    margin-left: 10px;
}
.content{
    background-color: rgb(133, 133, 201);
    height: 400px;
    width: 96%;
    margin: 0px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
.left-content img{
    display: block;
    height: 100%;
    border-radius: 20px;
}
.right-content{
    align-items: center;
    display: flex;

}
.right-content{
    color: rgb(232, 141, 141);
}
footer{
    background-color: rgb(50, 49, 49);
    padding: 0 100px;
    height: 300px;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ruler{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}
.left{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    line-height: 2em;
}
li a{
    text-decoration: none;
}
.right-footer{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 50%;
}
.right-footer img{
    height: 100%;
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: center;
    }
    .logo{
        text-decoration: none;
        font-size: 10px;
    }
    li a{
        font-size: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .search{
        width: 80%;
    }
    .icon-shop{
        display: flex;
    }
    .categorias-icon{
        width: 90%;
    }
}