*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, sans-serif;
    font-weight: 500;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 30px;
    background-color: aliceblue;
    position: fixed;
    z-index: 1;
}
.brand-name a{
    text-decoration: none;
    color: black;
}
.nav-left ,.nav-right{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-left a ,.nav-right a{
    text-decoration: none;
    color: gray;
    margin-left: 20px;
}
.nav-left a:hover ,.nav-right a:hover{
    cursor: pointer;
    color: black;
    transition: 2s;
}
.nav-right i{
    font-size: 20px;
    color: black;
}
.sidepanel{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}
.card-panel{
    margin-bottom:20px;
    margin-left: 20px;
}
.sidepanel p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}
.sidepanel button{
    background-color: #6d7050;
    width: 95%;
    color: white;
    padding: 20px 0;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}
.sidepanel button:hover{
    background-color: #111;
    cursor: pointer;
    transition: 1s;
}
.sidepanel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.sidepanel a:hover{
    color: #f9b856;
}
.sidepanel .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
#openbtn{
    font-size: 20px;
    cursor: pointer;
    color: #111;
    padding: 10px 15px;
    border: none;
}
.pic{
    height: 90vh;
    padding: 0 30px;
}
.pic-content{
    background-image: url(./image/recycled-shoe-store-hero-image-bg.jpg);
    height: 90vh;
    display: flex;
    align-items: center;
}
.text-content{
    margin-left: 100px;
}
.pic-content h1{
    color: white;
    font-size: 100px;
    line-height: 100px;
}
.pic-content p{
    color: white;
    line-height: 40px;
}
.btn-shop button{
    padding: 15px 40px;
    margin-right: 20px;
    margin-top: 30px;
    border: none;
}
.btn-shop button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}
.poster{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 50px;
}
.about{
    height: 100vh;
    width: 100%;
    display: flex;
}
.about-include{
    display: flex;
    align-items: center;
    padding: 100px;
    margin: 0 auto;
}
.about-left{
    height: 100vh;
    width: 100%;
    padding: 100px 0;
}
.about-right{
    width: 100%;
    margin-left: 100px;
}
.about-us{
    text-decoration: none;
    color: #f9b856;
}
.about-right h1{
    font-size: 52px;
    margin-top: 40px;
}
.about-right p{
    color: gray;
    margin-top: 40px;
    line-height: 33px;
    font-size: 18px;
    margin-bottom: 40px;
}
.read{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.ruler{
    height: 2px;
    width: 85px;
    background-color: #f9b856;
}
main{
    height: 100vh;
    padding: 100px;
}
main .main-title ,.main-txt{
    text-align: center;
    line-height: 33px;
}
.main-title{
    margin-bottom: 33px;
}
.main-txt{
    color: gray;
}
.main-include{
    display: flex;
    margin-top: 100px
}
.main-left{
    width: 100%;

}
.main-right{
    background-color: rgb(234, 240, 240);
    width: 100%;
}
.box1{
    height: 50%;
    line-height: 33px;
}
.num{
    padding-top: 20px;
    color: #f9b856;
}
.box2{
    height: 50%;
    line-height: 33px;
}
.box3{
    height: 50%;
    line-height: 33px;
    text-align: end;
}
.box4{
    height: 50%;
    line-height: 33px;
    text-align: end;
}
.article{
    margin: 0 100px;
}
.act-line{
    display: flex;
    justify-content: space-between;
}
.veiw{
    text-decoration: none;
    color: black;
}
.veiw:hover{
    cursor: pointer;
}
.ruler1{
    height: 2px;
    width: 195px;
    background-color: #f9b856;
}
.box-flex{
    width: 100%;
    display: flex;
}
.card-content{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(223, 195, 195);
    
    text-align: center;
}
.card{
    height: 430px;
    width: 100%;
    overflow: hidden;
    opacity:0 .6;
}
.card img{
    width: 100%;
    transition: 1s;
}
.card img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.popup-btn{
    position: absolute;
    z-index: 1;
    bottom: 10px;
}

.detail-pro{
    background-color: #f9b856;
    height: 100%;
    padding: 50px 0;
}
.detail-pro a{
    text-decoration: none;
    color: black;
}
.detail-pro p{
    color: white;
}
section{
    height: 80vh;
    display: flex;
    gap: 2rem;
    padding: 0 30px;
    margin-top: 200px;
}
.left-men{
    background: url(./image/recycled-shoe-store-shop-men-image-thumbnail.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: white;

}
.left-men button{
    border: 2px solid white;
    background-color: rgba(240, 248, 255, 0.033);
    color: white;
    padding: 20px 40px;
    margin-top: 20px;
}
.left-men button:hover{
    color: black;
    background-color: white;
    transition: 1s;
}
.right-women{
    background: url(./image/recycled-shoe-store-shop-women-image-tumbnail.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: white;
}
.right-women button{
    border: 2px solid white;
    background-color: rgba(240, 248, 255, 0.033);
    color: white;
    padding: 20px 40px;
    margin-top: 20px;
}
.right-women button:hover{
    color: black;
    background-color: white;
    transition: 1s;
}
.cycle{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.txt-cycle{
    color: gray;
    font-size: 20px;
    line-height: 33px;
}
.img-cycle img{
    margin-top: 80px;
    margin-right: 50px;
}
.right-cycle img{
    border-radius: 50%;
}
.customer{
    margin-top: 200px;
}
.customer h1{
    text-align: center;
}
.veiw{
    color: gray;
    text-align: center;
}
.box-flex{
    display: flex;
    justify-content: center;
}
.box-customer p{
    font-size: 18px;
    line-height: 33px;
}
.box-customer{
    border: 1px solid rgb(183, 178, 178);
    box-shadow: 10px 10px 10px rgb(0, 0, 0.6);
    width: 350px;
    height: 200px;
    margin: 100px 50px;
    padding: 20px 20px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    border-radius: 50%;
    margin-right: 20px;
}
.include-content{
    height: 100vh;
}
.content{
    background: url(./image/recycled-shoe-store-cta-image-bg.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    margin-top: 100px;
    text-align: center;
    padding-top: 250px;
    color: white;
}
.content h1{
    font-size: 70px;
}
.btn button{
    margin: 20px 20px;
    padding: 20px 40px;
}
.btn button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 1s;
    border: none;
}
.flex-icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.icon-content{
    display: flex;
    font-size: 20px;
}
.icon-content p{
    margin-left: 20px;
}
footer{
    height: 60vh;
    display: flex;
    justify-content:space-around;
    padding: 100px;
}
.content-footer p{
    color: gray;
    margin-top: 100px;
    font-size: 20px;
    line-height: 33px;
}
.content-footer ul{
    list-style: none;
    margin-top: 100px;
}
.content-footer li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    line-height: 33px;
}
.content-footer li a:hover{
    color: black;
}
